<p>
 {{#if warn}}
<div class="alert alert-info">
  <strong>Welcome!</strong> Sign up or Log in to start using Timer!
</div>
 {{/if}}
</p>
<div class="panel panel-default">
  <div class="panel-heading">Timer Application</div>
  <div class="panel-body">Timer app lets you: <br> 
  <ul>
   <li> Set Multiple Times
   <li> Share these timers across multiple devices
   <li> Receive named laerts when a timer has expired 
   <li> Over time indication so you know how burnt your food is 
   </ul>
   </div>
</div>
